src/server/CMakeFmodEx.hpp
*.o
moc_*.cpp
ui_*.h
Makefile*
*~
*.swp
build/
*.tlog
*.obj
*.manifest
*.exp
*.ilk
*.lastbuildstate
*.lib
*.dll
*.log
*.ini
*.ex5
*.idb
*.pdb
*.opensdf
*.sdf
*.suo
*.user
*.ipch
*.unsuccessfulbuild
